<!DOCTYPE html>
<html lang="en">
<head>
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta charset="utf-8"/>
  <title>C3Software</title>
</head>
<body>
<noscript>
  You need to enable JavaScript to run this app.
</noscript>
  <div id="app"></div>
</body>
</html>
